@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Noto+Sans+Symbols+2&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,400&display=swap');


main {
  background-color: #F7F8FC;
}

/* header for desktop (hidden) */
header {
  height: 0px;
  background-color: #363740;
}


/* Logo at sidebar */
.titletop {
  margin-top: 28px;
  margin-bottom: -60px;
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #A4A6B3;
}

/* Logo for mobile */
.titletopMob {
  display: none;
  margin-top: 0px;
}


/* Overview Title top of the page Right Side */
#overviewTitle {
  color: #252733;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}


.sidebar {
  height: 140vh;
  background-color: #363740;
  position: fixed;
}

.nav1 {
  margin-top: 100px;
}




.sidebar .nav-link {
  color: #A4A6B3;
  padding: 20px 40px;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.sidebar-divider {
  margin-block: 18px;
}


.sidebar .nav-link.active {
  color: #DDE2FF;
  background-color: rgba(158, 161, 179, 0.12);
  border-left: 3px solid #DDE2FF;
}

.sidebar-heading {
  font-size: .75rem;
}

.featureCont {
  width: 102% !important;
  justify-content: center;
}

.featureCont .col {
  display: flex;
  justify-content: center;
}


.GraphSection {
  width: 96% !important;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.OverviewHeader {
  width: 100%;
  height: 30px;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 0;
}


/* 4 Box Top / Right Side *General CSS*/
.featureboxes {
  width: 258px;
  height: 134px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--grayscale-divider, #DFE0EB);
  background: #FFF;
  padding: 20px;
  text-align: center;
}

.featureboxes:hover {
  border: 1px solid #3851ff;
  box-shadow: #3851ff 0px 1px 5px 0px;
}

.featureboxes:hover .featureTitle {
  color: #3841ff;
}

.featureboxes:hover .featureNum {
  color: #3841ff;
}

/* 4 Box Top / Right Side *Title CSS*/
.featureTitle {
  color: #9FA2B4;
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

/* 4 Box Top / Right Side *Numbers CSS*/
.featureNum {
  color: #252733;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}




/* Graph Section Right Side */
.GraphSection {
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--grayscale-divider, #DFE0EB);
  background: var(--grayscale-white, #FFF);
  margin-bottom: 20px;
}

/* Graph image css */
#graphimg {
  width: 686px;
  height: 380px;
  /* background-image: url(/assets/img/fullgraph.png); */
  background-size: contain;
  /* padding: 10px; */
}

#imgtwo {
  width: 686px;
  height: 380px;
  padding: 15px;

}

.cardsection {
  padding-left: 20px;
  padding-right: 20px;
}

.listSection {
  padding: 0px 25px 0px 35px !important;
}

#TicketsTitle {
  text-align: left;
  color: var(--grayscale-black, #252733);
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

#TicketsDetails {
  color: var(--accent-default, #3751FF);
  text-align: right;
  /* Semibold 14 (0.2 px) */
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.2px;
}

#TicketsGroup {
  color: var(--grayscale-gray-dark, #4B506D);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
}

.td-style {
  padding: 20px 20px 20px 32px !important;
}

.td-style2 {
  padding: 0px 10px 20px 32px !important;
}

#GroupBold {
  color: var(--grayscale-gray, #9FA2B4);

  /* Reg 12 (0.1 px) */
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.1px;
}

#graphTitleLeft {
  padding: 20px 0px 0px 20px;
  text-align: left;
  color: var(--grayscale-black, #252733);
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

#graphSubTitleLeft {
  padding: 0px 0px 10px 20px;
  text-align: left;
  color: var(--grayscale-gray, #9FA2B4);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.1px;
}


/* Graph Section Title */
.graphTitle {
  color: #9FA2B4;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.3px;
  margin-top: 20px;
}

/* Graph info numbers CSS */
.graphNum {
  color: #252733;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
}


/* Border to left side */
.detailGraph {
  border-left: 1px solid #DFE0EB;
}

.ThirdSec {
  border-radius: 8px;
  border: 1px solid #DFE0EB;
  background: #FFF;
}


.USTickets {
  height: 150px;
  background-color: #FFF;
  margin-bottom: 20px;
}

.Tasks {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #DFE0EB;
  background-color: #FFF;
}

.badge {
  width: 74px;
  height: 30px;
  color: var(--grayscale-white, #FFF);
  text-align: center;
  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* Mobile Version <----------------  */
@media (max-width: 768px) {

  header {
    height: 70px;
    background-color: #363740;
  }

  .titletopMob {
    display: block;
    margin-top: 0px;
  }

  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }

  .sidebar {
    height: 0vh;
  }

  .navbar-search {
    display: block;
  }



  .featureCont {
    width: 105% !important;
    justify-content: center;
  }

  .featureCont .col {
    display: flex;
    justify-content: center;
  }


  .GraphSection {
    width: 96% !important;
  }


  .featureboxes {
    width: 90%;
    height: 134px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grayscale-divider, #DFE0EB);
    background: var(--grayscale-white, #FFF);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .featureTitle {
    width: 90%;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .featureNum {
    width: 90%;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #graphimg {
    width: 100%;
    height: 380px;
    /* background-image: url(/assets/img/fullgraph.png); */
    background-repeat: no-repeat;
    background-size: contain;
  }

  #imgtwo {
    max-width: 100%;
    object-fit: contain;
  }

  .info-bar {
    flex-direction: column-reverse;
    margin: 0;
  }

  .FeatureCT {
    margin-top: 20px;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.header-divider {
  margin-inline: 12px;
}

.profile-avatar {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #9FA2B4;
  padding: 2px;
}

.info-bar {
  display: flex;
}